:root {
  --fbs-mid-green: #80aa8c;
  --fbs-soft-green: #ddeeda;
  --fbs-olive-green: #507151;
  --fbs-duckegg: #cae8e4;
  --fbs-tonal-grey: #a1a791;
  --fbs-charcoal: #4f4f4e;
  --fbs-warm-grey: #d1dac7;
  --fbs-dusty-yellow: #f3f4c7;
  --fbs-white: #ffffff;
  --fbs-black: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: nanum myeongjo;
  font-size: 36px;
  color: var(--fbs-charcoal);
  font-weight: 700;
  padding-top: 40px;
}

h2 {
  font-family: dawning of a new day;
  line-height: 1;
  font-size: 24px;
  color: var(--fbs-olive-green);
}

h3 {
  font-family: nanum myeongjo;
  font-size: 24px;
  font-weight: 700;
  color: var(--fbs-charcoal);
}

p {
  font-family: urbanist;
  font-size: 14px;
  color: var(--fbs-charcoal);
}

.navbar-bg-colour {
  background-color: var(--fbs-tonal-grey);
}

.portfolio-section {
  background-color: var(--fbs-warm-grey);
  margin: 0;
}

.feature-text {
  padding: 20px;
}

.primary-button {
  background-color: var(--fbs-mid-green);
  border: solid 1px var(--fbs-white);
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 11px;
  color: var(--fbs-white);
  font-weight: 600;j
}

@media (max-width: 576px) {
  .header-banner {
    display: none;
  }
}
@media (min-width: 577px) {
  .header-banner-sm {
    display: none;
  }
}
