:root {
  --fbs-mid-green: #80aa8c;
  --fbs-soft-green: #ddeeda;
  --fbs-olive-green: #507151;
  --fbs-duckegg: #cae8e4;
  --fbs-tonal-grey: #a1a791;
  --fbs-charcoal: #4f4f4e;
  --fbs-warm-grey: #d1dac7;
  --fbs-dusty-yellow: #f3f4c7;
  --fbs-white: #ffffff;
  --fbs-black: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: nanum myeongjo;
  font-size: 36px;
  color: var(--fbs-charcoal);
  font-weight: 700;
  padding-top: 40px;
}

h2 {
  font-family: dawning of a new day;
  line-height: 1;
  font-size: 24px;
  color: var(--fbs-olive-green);
}

h3 {
  font-family: nanum myeongjo;
  font-size: 24px;
  font-weight: 700;
  color: var(--fbs-charcoal);
}

p,
a {
  font-family: urbanist;
  font-size: 14px;
  color: var(--fbs-charcoal);
  text-align: left;
  text-decoration: none;
}

a:hover {
  color: var(--fbs-mid-green);
  text-decoration: underline;
}

.navbar-bg-colour {
  background-color: var(--fbs-tonal-grey);
}

.content-section {
  background-color: var(--fbs-warm-grey);
  margin: 0;
}

.display-img {
  box-shadow: var(--box-shadow);
  border: 1px solid var(--fbs-soft-green);
  border-radius: 4px;
  background-color: var(--fbs-white);
}

.header-video {
  max-height: 400px;
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: var(--fbs-warm-grey);
}

.feature-text {
  padding: 20px;
}

.primary-button {
  background-color: var(--fbs-olive-green);
  border: solid 1px var(--fbs-white);
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 11px;
  color: var(--fbs-white);
  font-weight: 600;
  text-decoration: none;
}

.primary-button:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--fbs-mid-green);
  color: var(--fbs-white);
  text-decoration: none;
}

.para-subheading {
  font-size: 12px;
  color: var(--fbs-mid-green);
}

.footer {
  background-color: var(--fbs-tonal-grey);
}

.footer-text {
  color: var(--fbs-white);
  font-size: 12px;
  text-align: center;
  padding: 30px 0 0 0;
}

.footer-location {
  color: var(--fbs-olive-green);
  font-size: 12px;
  text-align: center;
  padding: 30px 0 0 0;
}

.footer-icons {
  text-align: center;
  margin: 0;
  padding: 0 0 30px 0;
}

.footer-icons a {
  color: var(--fbs-white);
  font-size: 24px;
  line-height: 1;
  padding: 4px;
}

@media (max-width: 576px) {
  .header-banner {
    display: none;
  }
}
@media (min-width: 577px) {
  .header-banner-sm {
    display: none;
  }
}
@media (min-width: 1030px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 30px;
  }
}
